<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	beStrictAboutCoversAnnotation="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
	beStrictAboutTodoAnnotatedTests="true"
	colors="true"
	executionOrder="default"
	verbose="true"
>
	<testsuites>
		<testsuite name="chip">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
